<mat-toolbar color="primary">
  <span>
    <a routerLink="/">LISTE des POSTS</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">Nouveau Post</a>
    </li>
    <li>
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Connexion</a>
    </li>
    <li>
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">S'enregistrer</a>
    </li>
    <li>
      <a mat-button routerLink="/user_list" routerLinkActive="mat-accent">Liste des utilisateurs</a>
    </li>
  </ul>
</mat-toolbar>
